[user]
        name = Ivan Buymov
        email = ivan@buymov.ru
[core]
	excludesFile = ~/.gitignore
        ignorecase = true
        fsmonitor = true
        pager = delta
[init]
        defaultBranch = master
[url "ssh://git@stash.odkl.ru:7999"]
	insteadOf = https://stash.odkl.ru
[pull]
        rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[url "ssh://git@gitlab.rip/"]
    insteadOf = https://gitlab.rip/

